.info-section{
    border:1px solid rgb(228, 224, 224);
    margin:30px 40px;
    border-radius: 20px;
}
.card-title{
    margin: 30px auto;
}
.see-all{
    text-decoration: none;
    padding: 5px 10px;
    background-color: #f17228;
    border-radius: 10px;
}
.title{
    border-left: 8px solid #f17228;
    padding-left: 1rem;
}
.see-all{
    color:white;
}